{{#each errors}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{text}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}
<div class="container p-4">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <h4>Login</h4>
                    <button class="btn btn-primary"><a style="color:azure" href="/api/users/register">Register</a></button>
                </div>
                <div class="card-body">
                    <form action="/api/users/signin" method="post" class="row g-3 mt-3" id="formC">
                        <div class="col-6">
                            <label for="email" class="form-label">email</label>
                            <input type="text" name="email" class="form-control" id="email">
                        </div>
                        <div class="col-6">
                            <label for="password" class="form-label">password</label>
                            <input type="password" name="password" class="form-control" id="password">
                        </div>
                        <button type="submit" class="btn btn-primary" id="send">Sign In</button>

                     </form>
                </div>
            </div>
</div>